<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<p>your role is <%= current_user.role %></p>
<% case current_user.role %>
<% when "admin" %>
  <%= render "orders/admin_view" %>
<% when "client" %>
  <%= render "orders/client_view" %>
<% end %>
